.tech_container{
    margin-top: 12%;
    margin-left: 18%;
    margin-right: 18%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap: 8%; */
    justify-content: center;
    
}
.tech_icon{
    width: 110px;
    height: 110px;
    margin: 0.2rem;
}